---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Prop Find</title>
    <meta name="color-scheme" content="light only" />
    <meta name="description" content="Stand out in Singapore’s competitive property market with us—a sleek, professional website designed exclusively for real estate agents. Showcase your listings, highlight your expertise, and attract more clients with a personalized online presence." />
    <meta property="og:site_name" content="Prop Find" />
    <meta property="og:title" content="Prop Find" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Stand out in Singapore’s competitive property market with us—a sleek, professional website designed exclusively for real estate agents. Showcase your listings, highlight your expertise, and attract more clients with a personalized online presence." />
    <meta property="og:image" content="/assets/images/share.jpg" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="601" />
    <meta property="og:image:height" content="315" />
    <meta property="og:url" content="https://www.propfind.me" />
    <meta property="twitter:card" content="summary_large_image" />
    <link rel="canonical" href="https://www.propfind.me" />
    <link href="https://fonts.googleapis.com/css2?display=swap&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,600;1,700;1,900" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="/assets/images/favicon.png" />
    <link rel="apple-touch-icon" href="/assets/images/apple-touch-icon.png" />
  </head>
  <body>
    <slot />
  </body>
</html>
